header nav.navbar {
    padding: 1rem 0;
}

header .navbar-collapse {
    justify-content: end;
}


.header-wrap button.search {
    appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.header-wrap button.search i {
    font-size: 1rem;
    line-height: 1.2;
}

.background {
    position: absolute;
    inset: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.banner {
    padding: 200px 0 250px;
}

.banner .background {
    border-radius: 0 0 0 291px;
}

.content-wrap {
    min-height: 350px;
}

.banner-button {
    margin-top: 50px;
}

.header-wrap nav ul.navbar-nav ul {
    position: absolute;
    margin: 0;
    list-style: none;
    padding: 10px 20px;
    box-shadow: 3px 10px 15px 4px rgba(0, 0, 0, .2);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 9;
    background-color: #fff;
    width: auto;
}

.header-wrap nav ul.navbar-nav li:hover ul {
    opacity: 1;
    visibility: visible;
}

.header-wrap nav ul.navbar-nav li {
    position: relative;
}


header ul a.nav-link {
    font-size: 0.9rem;
    line-height: 1.2;
    color: #3e3eec
}

.header-wrap button.search {
    background: none;
    color: #000;
    padding: 0;
}

.header-wrap button.search:active {
    background: none;
    color: #000;
    padding: 0;
}

body.show-search .search-wrap .form-search {
    visibility: visible;
    opacity: 1;

}

body.show-form .form-popup .form-search {
    visibility: visible;
    opacity: 1;

}


.form-search {
    display: block;
    position: fixed;
    inset: 0;
    overflow: auto;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in;
    visibility: hidden;
    opacity: 0;
}

body.show-form,
body.show-search {
    overflow: hidden;
}

.form-search .form-search-wrap {
    max-width: 767px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: calc(100vh - 20px);
    margin: auto;
    padding: 20px;
    min-height: 350px;
}

.form-search .form-search-wrap form {
    width: 100%;
    position: relative;
    z-index: 5;
}

.form-search .form-search-wrap form .close {
    padding: 0.3em;
    cursor: pointer;
    color: #fff;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 3;
    cursor: pointer;
}

.header-wrap .form-search input[type=search]:focus {
    border-width: 3px;
    box-shadow: none;
}

.header-wrap .form-search input[type=search]:focus {
    border-color: rgba(13, 110, 253, .25);
}



.form-popup .form-search .form-search-wrap form {
    width: 100%;
    position: relative;
    z-index: 5;
    overflow: auto;
    height: 100%;
}


.form-popup .form-search .form-search-wrap .form {
    overflow: hidden;
}

.form-popup .form-search .form-search-wrap {
    background: #ffff;
    position: relative;
}

.form-popup .close {
    position: absolute;
    top: 0;
    right: -35px;
    color: #fff;
}


@media (min-width: 991px) {

    header .menu {
        width: 60%;
    }

    header .search-wrap {
        width: 50px;
        padding: 1em 0;
    }

    header nav.navbar>.container-fluid {
        align-items: center;
    }

    header ul a.nav-link {
        padding: 1em;
    }


    .header-wrap nav ul.navbar-nav ul a {
        white-space: nowrap;
    }

}

@media (min-width: 1025px) {
    .menu.mobile {
        display: none !important;
    }

    header nav.navbar button.navbar-toggler {
        display: none !important;
    }

    .menu.desktop {
        display: block !important;
    }


    header .menu>ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 0;
    }

    header .navbar-brand {
        width: 25%;
        margin: 0;
        min-width: 200px;
    }

}

@media (max-width: 1024px) {
    .menu.desktop {
        display: none !important;
    }

    .menu.mobile {
        display: none;
    }

    header .search-wrap {
        padding: 1em;
        order: 1;
    }

    header nav.navbar button.navbar-toggler {
        font-size: 0.8rem;
        padding: 1em;
        border: none;
        background-color: transparent;
        appearance: none;
        margin-left: auto;
    }

    header nav.navbar button.navbar-toggler:focus {
        box-shadow: none;
    }

    header nav.navbar button.navbar-toggler:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    header .menu {
        position: absolute;
        background: #fff;
        top: 100%;
        z-index: 99;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0;
    }

    header .menu ul {
        margin: 0;
    }

    .header-wrap nav ul.navbar-nav ul {
        position: static;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
        font-size: 0.9rem;
        padding: 0 10px;
    }

    header .menu ul a {
        display: block;
        padding: 8px 10px;
        transition: all 0.4s ease-in;
    }

    header .menu ul ul a {
        padding: 4px 8px;
    }

    header .menu ul a:hover {
        background-color: #000;
        color: #fff;
    }

    .header-wrap nav ul.navbar-nav ul {
        display: none;
    }

    span.child-trigger {
        position: absolute;
        top: 0;
        right: 8px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s ease-in;
        border-radius: 50%;
    }



    .header-wrap nav ul.navbar-nav ul {
        transition: none;
    }

    span.child-trigger:hover,
    header .menu ul a:hover~.child-trigger {
        background: #000;
        color: #fff;
    }

    span.child-trigger:not(.child-open) {
        transform: rotate(540deg);
    }
}

@media (max-width: 767px) {
    header .search-wrap {
        padding: 0.4em;
    }

    header nav.navbar button.navbar-toggler {
        padding: 0.4em;
        transition: all 0.3s ease;
    }

    header .navbar-brand {
        margin-right: 5px;
    }
}


/*  foooter  */

footer {
    font-size: 0.875rem;
    position: relative;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-contacts p span {
    display: block;
    line-height: 1;
}

.social-icons {
    display: flex;
    column-gap: 20px;
}

.social-icons a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo {
    margin-bottom: 22px;
}

/* about us */

.about_us-wrap {
    display: flex;
    min-height: 600px;
}

.about_us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%;
    gap: 20px;
}

.about_us-image img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_us-image {
    width: 50%;
    overflow: hidden;
    border-radius: 0px 326.5px 0px 123px;
    position: relative;
}

section.project_details .project_details-items_wrap .item-image:after,
.about_us-image:after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 30%);
    opacity: 0;
    transition: all 0.25s ease;
}

section.project_details .project_details-items_wrap .item-image:hover:after,
.about_us-image:hover:after {
    opacity: 1;
}


.about_us-wrap .contact {
    vertical-align: middle;
}

.about_us-wrap .contact img {
    float: left;
    max-width: 90px;
    width: 100%;
    margin-right: 20px;
}

.about_us-wrap .contact p {
    margin: 0;
    padding: 15px;
}

.about_us-wrap .contact p strong {
    display: block;
}

.about_us-wrap .button-wrap i {
    color: #CDA274;
    vertical-align: middle;
}


/* testimonial */

.testimonial_wrap {
    background: #F4F0EC;
    padding: 70px 30px;
    border-radius: 70px;
}

.testimonial-title {
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
}

.testimonial_items-wrap .testimonial_item {
    background: #fff;
    width: calc(33.33% - 14px);
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    border-radius: 45px;
    padding: 20px 30px;
    transition: background 0.25s ease;
    cursor: pointer;
}


.testimonial_items-wrap .row {
    gap: 20px;
}

.testimonial_items-wrap .testimonial_item .author_desc {
    display: flex;
    gap: 30px;
}

.testimonial_items-wrap .testimonial_item .author_name {
    display: flex;
    flex-direction: column;
}

.testimonial_items-wrap .testimonial_item .author_name span.name {
    font-weight: 700;
}

.testimonial_items-wrap .img_wrap {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial_items-wrap .img_wrap img {
    max-width: 100%;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.testimonial_items-wrap .testimonial_item:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #F4F0EC;
}


/* project */

section.project_details .item-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}


section.project_details .project_details-items_wrap .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: center;
    inset: 0;
}

section.project_details .project_details-items_wrap .item-image {
    position: relative;
    padding-bottom: 66%;
    margin-bottom: 0;
    overflow: hidden;
}

section.project_details .project_details-items_wrap .row {
    gap: 45px;
    padding: 0 20px;
}

section.project_details .project_details-items_wrap .row .project_details-item {
    width: calc(50% - 22.5px);
    padding: 0;
}


section.project_details .project_details-item:nth-of-type(1) .item-image {
    border-top-right-radius: 80px;
}

section.project_details .project_details-item:nth-of-type(2) .item-image {
    border-top-left-radius: 80px;
}

section.project_details .project_details-item:nth-of-type(3) .item-image {
    border-bottom-right-radius: 80px;
}

section.project_details .project_details-item:nth-of-type(4) .item-image {
    border-bottom-left-radius: 80px;
}

section.project_details .project_details-title {
    margin-bottom: 80px;
    max-width: 767px;
}

/* counter */

.counter-item_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.counter-item {
    padding: 0px 10px;
    position: relative;
    min-width: 230px;
}


section.counter {
    background: #F4F0EC;
}

.counter-item:not(:last-child):after {
    content: '';
    width: 1px;
    background-color: #CDA274;
    height: 80%;
    position: absolute;
    top: 50%;
    right: 0;
    margin: auto 0;
    transform: translateY(-50%);
}

/* my blog */

section.myblog .post-item-wrp {
    padding: 20px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 25%);
    border-radius: 62px;
    border: 1px solid #cdcdcd;
}

section.myblog .row {
    gap: 20px;
}

section.myblog .post-item-wrp {
    width: calc(33% - 15px);
    cursor: pointer;
}

section.myblog .featured_img img {
    width: 100%;
    transition: all 0.25s ease;
}

section.myblog .featured_img {
    overflow: hidden;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-bottom: 20px;
}

section.myblog .post-item-wrp:hover {
    background: #F4F0EC;
    cursor: pointer;
}

section.myblog .post-items:hover .featured_img img {
    transform: scale(1.2);
}


section.myblog .title-wrap {
    padding-bottom: 30px;
}

section.myblog .desc_wrap {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.myblog .right_arrow {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.myblog .post-item-wrp:hover .right_arrow svg circle {
    fill: #fff;
}

/* bottom pane */

.bottom-pane .bottom-page-wrap {
    background: #292F36;
    border-radius: 70px;
    color: #fff;
    padding: 80px 50px;
}

.bottom-pane .bottom-page-wrap .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-pane .bottom-page-wrap button {
    background-color: #CDA274;
    box-shadow: none;
    padding: 25px 40px;
    vertical-align: middle;
    font-weight: 700;
}

.bottom-pane .bottom-page-wrap button span.arrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}


/* logo slider */

section.logo_slider .item-wrap {
    min-width: 250px;
    padding: 10px;
}

section.logo_slider .slick-track {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


/* card-details */

section.card-details .cards-items:hover {
    border: 1px solid #000;
    border-radius: 45px;
}

section.card-details .cards-items {
    transition: all 0.25s ease;
    border: 0px solid transparent;
}

div#back-to-top {
    position: fixed;
    right: 40px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cda274;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.35s ease-in;
    box-shadow: 8px 0 8px 0 rgb(0 0 0 / 25%);
}

div#back-to-top:hover {
    background-color: #cda274;
    color: #fff;
}

div#back-to-top:hover a {
    color: inherit;
}

@media (max-width: 991px) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.4rem;
    }


    .banner .background {

        border-radius: 0;

    }

    .testimonial-title {
        width: 100%;
    }

    section.myblog .post-item-wrp {
        width: 100%;
    }

    section.myblog .row {
        padding: 0 20px;
    }

    section.project_details .project_details-items_wrap .row .project_details-item {
        width: 100%;
    }

    .testimonial_items-wrap .testimonial_item {
        width: 100%;
        padding: 18px 30px;
    }

    .testimonial_items-wrap .testimonial_item .author_desc {
        flex-wrap: wrap;
    }

    .about_us-wrap {
        flex-wrap: wrap;
    }

    .about_us-content {
        width: 100%;
    }

    .about_us-image {
        width: 100%;
        border-radius: 45px;
    }

    footer .logo-section,
    footer .footer-nav,
    footer .footer-contacts {
        margin-bottom: 20px;
    }

    footer .logo-section>div,
    footer .footer-nav>div,
    footer .footer-contacts>div {
        margin-bottom: 20px;
    }

    footer .page-center>.row {
        padding-bottom: 20px !important;
    }


    .counter-item_wrap {
        display: block;
    }

    .counter-item:not(:last-child):after {
        width: 50%;
        height: 1px;
        bottom: 0;
        transform: none;
        margin: auto;
        left: 0;
        right: 0;
    }

}